body {
    margin: 0;
    min-height: 100%;
}

h1 {
    margin: 2rem 0 .5rem;
    font-size: 2em;
}

h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.main-container {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#info-section {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    background-color: #5A4926;
    opacity: 90%;
    color: white;
}

.languages {
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.language-button {
    padding: .25rem .5rem;
    border: black solid 2px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: .75rem;
    text-decoration: none;
}

.flipper-container {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* Override jqueryFlipper */
.flipper-digit:after {
    height: 1px;
}
.flipper {
    width: 400px;
}

.flipper-group label {
    font-size: 30%;
}

.nope {
    display: none;
}

@media only screen and (max-width: 600px) {
    .flipper-container {
        width: 80%;
    }
    .flipper-group label {
    font-size: 40%;
}
}