
#flipdown {
    display: flex;
    justify-content: center;
    width: 100%;
}

#countdown-container .rotor-group-heading::before {
    color: white;
}

h1 {
    margin: 10px 0;
}

h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

#info-section {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: .5em;
    background-color: #5A4926;
    opacity: 90%;
    color: white;
}

body {
    margin: 0;
    min-height: 100%;
}

.main-container {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
